*.iml
*.bin
*.bin.lock
*.bak
*.lock
/.tmp
/kotlin-profile
/native
/caches
/wrapper
/daemon
/build
/captures
.gradle
/local.properties
/.idea
.idea
/app/release
.DS_Store
.externalNativeBuild
.cxx
local.properties
